div {
	margin:auto;
	height:300px;
	width:300px;
	float:left;

}
h1{
	font-size:25px;
	text-align:right;
	color:white;
}
h5 {
	color:black;
	font-size:20px;
	font-weight:lighter;
}
h6 {
	color:black;
	font-size:15px;
}
.patspirmas {
	height:100px;
	width:100%;
	border: 15px solid transparent;
}
.pirmas {
	background-color:lightblue;
	height:380px;
	width:310px;
	border:10px solid black;
	margin-left:25px;
	margin-top:20px;
}
.bendras {
	height:380px;
	width:500px;
	border: 10px solid red;
}
.main {
	background-color:black;
	width:200px;
	float:right;
	margin-bottom:220px;
	margin-top:220px;
	margin-right:90px;
	border: 5px solid white;
}
.darvienasbandymas {
	height:340px;
	width:150px;
	border-bottom: 10px solid black;
	border-top: 10px solid black;
	border-right: 10px solid black;
	margin-top:20px;
	background-color:lightblue;
	padding:20px;
	text-align:left;
}
.image {
	background-image:url("https://i2.alfi.lt/32283/79/76.jpg");
	border: 5px solid white;
}
.image1 {
	background-image:url("kava.jpg");
	border: 5px solid white;
}
.image2 {
	background-image:url("kaledos.jpg");
	border: 5px solid white;
}
.image3 {
	background-image:url("keliones.jpg");
	border: 5px solid white;
}
.image4 {
	background-image:url("klaustukas.jpg");
	border: 5px solid white;
}
.nuotrauka {
	background-image:url("nuotrauka.jpg");
	border: 5x solid white;
}
.tekstas {
	text-align:center;
	height:60px;
	border: 5px solid white;
	font-weight:bold;
}
.kabutes {
	font-size:30px;
}
.info {
	text-align:center;
	height:100px;
	width:10px;
	border: 5px solid white;
}
p {
	color:white;
	font-size:25px;
	text-align:center;
}
a:link {
	color:white;
	text-decoration:none;
}
a:hover {
	font-size:50px;
	text-decoration:none;
}
a:visited {
	color:white;
	text-decoration:none;
}
.bandymas {
	background-color:transparent;
	height:860px;
	width:60%;
	margin-left:350px;
	font-size:25px;
	text-align:center;
}
.bandymas1 {
	background-color:transparent;
	height:860px;
	width:60%;
	margin-left:350px;
	font-size:25px;
	text-align:center;
}
body {
	background-image:url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/YYrb1C5/large-ocean-waves-at-night_hielyoz5_thumbnail-full01.png");
}
background-image:url("https://s3-us-west-2.amazonaws.com/lifestylepubs.wordpress/app/uploads/prod/2017/06/starry-night-5.jpg")
https://s2.15min.lt/images/photos/2016/02/29/original/dangaus-kunai-56d47e728d207.jpg
https://stockagehelloassoprod.blob.core.windows.net/images/logos/max-asso-55868209190f4ae9b3bb4a911f7c0586.jpg
https://stockagehelloassoprod.blob.core.windows.net/images/logos/max-asso-55868209190f4ae9b3bb4a911f7c0586.jpg
